<!DOCTYPE html>
<html>
<head>
<title>ETUPSA 73A</title>
<meta charset="UTF-8">
<meta http-equiv="Refresh" content="3; url=http://tracking.tcontur.com/simple/6" />
</head>
<body>
<p>Estás siendo redirigido al mapa.</p>
<a href="http://tracking.tcontur.com/simple/6">Si no se redirige en unos segundos has click aquí</a>
</body>
</html>
