<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>73A</title>
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            html, body, #map_canvas {
                height:100%;
                width:100%;
            }
        </style>
    </head>
    
    <body>
        <div id="map_canvas"></div>
        <script src="js/jquery.min.js"></script>
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB5xAjFBQWSbj0CzCMRZgg4Yn5P9sJ1iNg&sensor=true"></script>
        <script>
                var ruta = 6;
                var inicio = "SMP";
                var fin = "San Gabriel";
        </script>
        <script src="http://tracking.tcontur.com/static/js/simple.js"></script>
        <script src="http://tracking.tcontur.com/static/js/date.js"></script>
    </body>
</html>
