{% extends 'layout.html.twig' %}

{% block container %}
                                            <article class="grid_8">
                                                <div class="indent-left">
                                                    <h2>¡Bienvenido!</h2>
                                                    <p class="prev-indent-bot"><strong>T-Contur</strong> presenta herramientas de monitoreo de vehículos, control de flota y gestión de operaciones para empresas de transporte y/ particulares, utilizando la tecnología GPS y un Potente Sistema Web desde donde podrá obtener toda la información que necesite.</p>
                                                </div>
                                                <div class="wrapper">
                                                    <div class="grid_4 alpha">
                                                        <div class="indent-left">
                                                            <div class="maxheight indent-bot">
                                                                <h3>Nosotros</h3>
                                                                <p class="prev-indent-bot"><a class="link-1" href="#">T-Contur</a> es una empresa creada para brindar soluciones en transporte. Contamos con el desarrolo y soporte de <a href="http://www.econain.com" target="_blank">ECONAIN S.A.C.</a>, una empresa de diseño electrónico; y la asesoria de <a href="http://www.controladoresunidos.com" target="_blank">CONTROLADORES UNIDOS</a>, una empresa con amplia experiencia en el rubro del Transporte Urbano de Pasajeros.</p>
                                                                <a class="link-1" href="#">Nuestro Sistema</a> tanto el hardware como el software ha sido desarrollado desde su inicio pensando en la realidad del Transporte Urbano en nuestro país. El Diseño y Fabricación propios nos dan el respaldo para poder cumplir con las necesidades actuales y futuras.
                                                            </div>
                                                            <a class="button" href="/about.html">Leer Más</a>
                                                        </div>
                                                    </div>
                                                    <div class="grid_4 omega">
                                                        <div class="indent-left2">
                                                            <div class="maxheight indent-bot">
                                                                <h3 class="p0">Productos</h3>
                                                                <ul class="list-1">
                                                                    <li><a href="#">Rastreador GPS</a></li>
                                                                    <li><a href="#">Sistema de Despacho</a></li>
                                                                    <li><a href="#">Módulo de Control de Boletaje</a></li>
                                                                    <li><a href="#">Módulo de Control de Personal</a></li>
                                                                    <li><a href="#">Módulo de Sanciones</a></li>
                                                                </ul>
                                                            </div>
                                                            <a class="button" href="#">Leer Más</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="grid_4">
                                                <div class="indent-left2 indent-top">
                                                    <div class="box p4">
                                                        <div class="padding">
                                                            <div class="wrapper">
                                                                <figure class="img-indent"><img src="images/page1-img4.png" alt=""></figure>
                                                                <div class="extra-wrap">
                                                                    <h3 class="p0">Horarios:</h3>
                                                                </div>
                                                            </div>
                                                            <p class="p1"><strong></strong></p>
                                                            <p class="color-1 p0">Lunes a Viernes: 8:30 am - 6:00pm</p>
                                                            <p class="color-1 p1">Sábados: 8:30 am - 12 m</p>
                                                        </div>
                                                    </div>
                                                    <figure class="indent-bot">
                                                        <iframe width="260" height="202" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?msa=0&amp;msid=211534379181849180437.0004dc23d5ecd13dbaafc&amp;ie=UTF8&amp;t=m&amp;ll=-12.014273,-77.058599&amp;spn=0.003148,0.003219&amp;z=17&amp;output=embed"></iframe>
                                                    </figure>
                                                    <div class="indent-left">
                                                        <dl class="main-address">
                                                            <dt>Jr. Algarrobos 534 Urb. Los Jardines S.M.P.</dt>
                                                            <dd><span>Telf:</span>  622-0402</dd>
                                                            <dd><span>Cel:</span>  969-334-755</dd>
                                                            <dd><span>E-mail:</span><a href="to:ventas@tcontur.com">ventas@tcontur.com</a></dd>
                                                        </dl>
                                                    </div>
                                                </div>
                                            </article>
{% endblock %}
