# Activar RewriteEngine
RewriteEngine on
# Reescribir la URL solicitada por el usuario
#   Entrada:  /NOMBRE/
#   Salida: index.php?id=NOMBRE
#RewriteRule ^/(\w+)/?$ index.php?option=$1

RewriteRule ^([a-zA-Z0-9_-]+)$ index.php?option=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ index.php?option=$1

RewriteRule ^producto/([a-zA-Z0-9_-]+)/([0-9]+)\$ producto.php?id=$2