{% extends 'base.html.twig' %}

{% block stylesheets -%}
    {{ parent() }}
{% endblock %}

{% block content -%}
                <section id="content">
                    <div class="main">
                        <div class="container_12">
                            <div class="wrapper p5">
                                <article class="grid_4">
                                    <div class="wrapper">
                                        <figure class="img-indent"><img src="images/page1-img1.png" alt=""></figure>
                                        <div class="extra-wrap">
                                            <h4>Transporte Urbano</h4>
                                            <p class="p2">Nuestro sistema de Despacho y Rastreo ha sido diseñado para el cumplimiento con la Ordenanza Municipal.</p>
                                            <a class="button" href="#">Leer Más</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="grid_4">
                                    <div class="wrapper">
                                        <figure class="img-indent"><img src="images/page1-img2.png" alt=""></figure>
                                        <div class="extra-wrap">
                                            <h4>Transporte Privado</h4>
                                            <p class="p2">Sistema AVL para el monitoreo de su vehículo.</p>
                                            <a class="button" href="#">Leer Más</a>
                                        </div>
                                    </div>
                                </article>
                                <article class="grid_4">
                                    <div class="wrapper">
                                        <figure class="img-indent"><img src="images/page1-img3.png" alt=""></figure>
                                        <div class="extra-wrap">
                                            <h4>Transporte Especial</h4>
                                            <p class="p2">Brindamos un rastreo a su medida.</p>
                                            <a class="button" href="#">Leer Más</a>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="container-bot">
                                <div class="container-top">
                                    <div class="container">
                                        <div class="wrapper">
                                            {% block container %}{% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
